.section {
  padding: 30px 15px 0 15px;
  background-color: #05118269;
  margin: auto;
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

.section__title {
  font-size: 33px;
  letter-spacing: 0.04em;
  color: #fff;
}
